CoreOptions {
	height: 10;
	background: $boost;
	align: center middle;
	dock: bottom;
	padding-bottom: 2;
}

CoreOptions #status {
	text-align: center;
}

CoreOptionsControls {   
    margin: 1;
    min-width: 50;
    padding: 1;
}

CoreOptionsControls ProgressBar {
	border: wide $boost;
	height: 3;
	margin-top: 1;
}

Switch {
	padding: 0 1;
	height: 3;
}

Button {
    width: 16;
}

#start {
    dock: left;
}

#stop {
    dock: left;
    display: none;
}

#reset {
    dock: right;
}
