VisualizerDisplay {
	padding: 1;
	border: dashed $boost;
}

CoreOptionsControls {
	margin: 1;
	min-width: 50;
	padding: 1;
	align: center middle;
	height: 10;
}

CoreOptionsControls Switch {
	padding: 0 1;
	height: 3;
}

CoreOptionsControls Select {
	margin-left: 1;
	height: 5;
	width: 40;
	border: solid $boost;
	color: $text;
}

CoreOptionsControls Select:focus {
	border: solid $accent;
	color: $accent;
}

CoreOptionsControls Label {
	width: 0;
	overflow: scroll;
	position: relative;
	offset: 0 3;
}

VolumeControl {
	border: solid $boost;
	align: center top;
	padding-left: 1;
	margin-top: 0;
	margin-left: 1;
	height: 3;
	width: 44;
	color: $text;
}

VolumeControl:focus, VolumeControl:focus-within {
	border: solid $success;
	color: $accent;
}

VolumeControl ProgressBar {
}

VolumeControl Button {
	min-width: 2;
	height: 1;
	padding: 0;
	border: none;
	margin: 0 1;
}
