WLEDOptions {
   layout: horizontal;
}

ControllerControls Collapsible {
   margin-bottom: 1;
}

CtrlLightDeviceControls Collapsible {
   margin-bottom: 1;
}

DeviceBufferControls Collapsible {
   margin-bottom: 1;
}

DeviceBufferControls HorizontalGroup {
   align: left middle;
   margin-bottom: 1;
}

DeviceBufferControls HorizontalGroup Static {
   width: 16;
}

CtrlLightDeviceControls HorizontalGroup {
   align: left middle;
   margin-bottom: 1;
}

CtrlLightDeviceControls HorizontalGroup Label {
   width: 5;
}

Input.medium-input {
	width: 18;
}

Input.compact-input {
   width: 10;
}

.device-buffer-settings {
	width: 20;
}
